.background {
	fill: #fffff8;
  }
.statemachine {
	stroke-width: 1.5;
	stroke: #111111;
	rx: 20;
	ry: 20;
}
.stateconnectors {
	stroke-width: 1.5;
}
.analytical {
	font-family: "Gill Sans";
    font-size: 15px;
    text-anchor: center;
}
.analytical.inp {
	fill: #ca0020;
}
.analytical.op {
	fill: #0571b0;
}
/*.graphical.inp{
	font-family: "Gill Sans";
    font-size: 15px;
}
.graphical.inp.tick{
	shape-rendering: crispEdges;
	stroke: #ca0020;
	fill: none;
}*/